<div class="containerr mt-4">
  <mat-card>
    <mat-card-content>
      <h1 class="text-center"> {{ isEditing ? ("headings.edit" | translate) : 
                                              ("headings.add" | translate) }}
      </h1>
      
      <form [formGroup]="form">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>{{ "input.superhero" | translate }}</mat-label>
            <input matInput toUppercase type="text" formControlName="superhero">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>{{ "input.alter_ego" | translate }}</mat-label>
            <input matInput type="text" formControlName="alter_ego">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>{{ "input.first_appearance" | translate }}</mat-label>
            <input matInput type="text" formControlName="first_appearance">
          </mat-form-field>
        </div>
        
        <div>
          <mat-form-field appearance="fill">
            <mat-label>{{ "input.characters" | translate }}</mat-label>
            <input matInput type="text" formControlName="characters">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>{{ "input.publisher" | translate }}</mat-label>
            <mat-select formControlName="publisher">
              <mat-option value="DC Comics">DC Comics</mat-option>
              <mat-option value="Marvel Comics">Marvel Comics</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flex-row">
          <button routerLink="/" mat-raised-button color="accent" class="me-2">
            <mat-icon>chevron_left</mat-icon> {{ "button.back" | translate }}</button>
          <button mat-raised-button color="accent" (click)="submit()">
            <mat-icon>save</mat-icon>
            {{ isEditing ? ("button.update" | translate) : 
                           ("button.add" | translate) }} 
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>  
</div>
