<mat-card>
  <mat-card-content>
    <h3> {{ "headings.details" | translate }} </h3>
    
    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item> <strong>{{ "input.superhero" | translate }}:</strong> {{ hero?.superhero }} </mat-list-item>
      <mat-list-item> <strong>{{ "input.alter_ego" | translate }}:</strong> {{ hero?.alter_ego }} </mat-list-item>
      <mat-list-item> <strong>{{ "input.publisher" | translate }}:</strong> {{ hero?.publisher }} </mat-list-item>
      <mat-list-item> <strong>{{ "input.characters" | translate }}:</strong> {{ hero?.characters }} </mat-list-item>
      <mat-list-item> <strong>{{ "input.first_appearance" | translate }}:</strong> {{ hero?.first_appearance }} </mat-list-item>
    </mat-list>
  
    <div class="flex-row">
      <button mat-raised-button color="accent" routerLink="/">{{ "button.back" | translate }} </button>
    </div>
  </mat-card-content>
</mat-card>