th:last-of-type { text-align: center; }
td { padding: 0.75rem; }

tr{
  cursor: pointer;

  &.mat-mdc-row:hover {
    background-color: rgb(245, 245, 245) !important;
  }
}

.topbar{
  display: flex;
  justify-content: center;
  align-items: baseline;

  button{
    margin-right: 2rem;
  }
}